---
import { SITE, type Site } from "@/configs/site";
const canonicalURL = new URL(Astro.url);

const {
  title,
  desc = SITE.desc,
  favicon = SITE.favicon,
  ogImage = SITE.ogImage,
} = Astro.props as Site;

const cleanTitle =
  title && title !== SITE.title ? `${title} - ${SITE.title}` : SITE.title;
const cleanOgImage = new URL(ogImage, canonicalURL);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />
<link rel="shortcut icon" type="image/svg+xml" href={favicon} />
<title>{cleanTitle}</title>
<meta name="title" content={title ?? SITE.title} />
<meta name="description" content={desc} />
<meta name="color-scheme" content="light dark" />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={desc} />
<meta property="og:image" content={cleanOgImage} />
