---
import "@/styles/global.css";
import { SITE } from "@/configs/site";
import MainHeader from "@/components/MainHeader.astro";
import MainFooter from "@/components/MainFooter.astro";
import PageTitle from "@/components/PageTitle.astro";
import FontsPreload from "./components/FontsPreload.astro";
import ThemeScript from "./components/ThemeScript.astro";
import HeadMeta from "./components/HeadMeta.astro";

const { title, type, ogImage, favicon, desc } = Astro.props;
---

<!doctype html>
<html lang={SITE.locale}>
  <head>
    <HeadMeta title={title} ogImage={ogImage} favicon={favicon} desc={desc} />
    <FontsPreload />
    <ThemeScript />
  </head>

  <body>
    <MainHeader transition:persist />

    <main itemscope itemtype={`https://schema.org/${type}`}>
      <PageTitle title={title} />

      <slot />
    </main>

    <MainFooter transition:persist />
  </body>
</html>

<style>
  body {
    align-items: start;
    display: grid;
    grid-template-areas:
      "main-header"
      "main"
      "main-footer";
    justify-content: normal;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }

  main {
    grid-area: main;
  }

  @media (--lg) {
    body {
      display: grid;
      grid-auto-columns: auto min-content;
      grid-template-areas:
        "main main-header"
        "footer main-header"
        "main-footer main-footer";
    }
  }
</style>
